.contactUsForm{
    box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.4);
    background-color: whitesmoke;
  }
  
  .centered{
    text-align: center;
  }